{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>

    <header class="article-title">
        <h1 class="text-primary colour02">
            {{ .Title }}
        </h1>

        <div class="pull-left small article-date colour03">
            Posted on
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ .Date.Format "2 Jan 2006" }}
            </time>
        </div>

        <div class="pull-right">
            {{ range .Params.tags }}
            <span class="article-tag small colour03">
                <a href="{{ $baseurl }}/tags/{{ . | urlize }}">
                    #{{ . }}
                </a>
            </span>
            {{ end }}
        </div>

        <div class="clearfix"> </div>
    </header>

    <section>
        {{ .Content }}
    </section>

    <footer>
        <ul class="pager">
            {{ if .Next }}
            <li class="previous">
                <a href="{{ .Next.Permalink }}">
                    <span aria-hidden="true">&larr;</span> Older
                </a>
            </li>
            {{ else }}
            <li class="previous disabled">
                <a href="#">
                    <span aria-hidden="true">&larr;</span> Older
                </a>
            </li>
            {{ end }}

            {{ if .Prev }}
            <li class="next">
                <a href="{{ .Prev.Permalink }}">
                    Newer <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {{ else }}
            <li class="next disabled">
                <a href="#">
                    Newer <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </footer>

</article>

{{ partial "footer.html" . }}
