        </main>

        <footer class="container global-footer">
            <div class="pull-left small colour03">
                {{ .Site.Copyright | safeHTML }}
            </div>
        </footer>

        <!-- <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX&#45;MML&#45;AM_CHTML"> </script> -->
<script type="text/javascript" async src="{{ .Site.BaseURL }}MathJax/MathJax.js?config=TeX-MML-AM_CHTML"> </script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    displayMath: [['$$','$$'], ['\[','\]']]
                }
            });
        </script>

    </body>
</html>
