  </main>
  <footer class="container global-footer">
    <div class="copyright-note pull-left" style="font-size:small;">
      {{ .Site.Copyright | safeHTML }}
    </div>
    {{ partial "link.html" . }}
  </footer>

  <script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
  <script> hljs.initHighlightingOnLoad(); </script>

  <script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$','$$'], ['\[','\]']],
        // processEscapes: true,
        // processEnvironments: true,
        // skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        // TeX: { equationNumbers: { autoNumber: "AMS" },
        // extensions: ["AMSmath.js", "AMSsymbols.js"] }
      }
    });
  </script>

</body>
</html>
